dt, dd {
    margin-bottom: 10px;
    padding: 10px;
}

.txt-active {
    background-color: deepskyblue;
}

.txt-active:hover {
    background-color: cornflowerblue;
}

.txt-active-none-tab {
    background-color: #ededed;
}

.txt-danger:hover {
    background-color: firebrick;
}

.txt-danger {
    background-color: red;
}

.li-tab-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}

.li-tab-button:hover{
    cursor: pointer;
    border-bottom: 5px solid rgb(30, 255, 0);
}

.focus-tab{
    border-bottom: 5px solid white;
}