<div class="row">
    <div class="col-md-4">
        <form (submit)="incrementSalary()">

            <div class="form-group">
                <label style="color:#efefef" class="control-label">Enter final CTC</label>
                <input [(ngModel)]="employee.employeeSalary" #salary="ngModel" name="employeeSalary" placeholder="Salary in &#8377; (CTC)"
                       type="number" required min="0" max="10000000" class="form-control"  style="border-radius:5px;background-color:#ffffff;border:none;border-bottom:2px solid black"/>
                <span *ngIf="salary.touched && salary.invalid" class="text-danger">*</span>
                <span *ngIf="salary.touched && (salary.errors?.['min']||salary.errors?.['max'])" class="text-danger">Choose CTC below 1CR and CTC cant't be negative<br/></span>
            </div>

            <div class="form-group">
                <input [disabled]="salary.invalid" type="submit" value="Confirm" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>